    body, html {
        margin: 0;
        padding: 0;
        height: 100%;
        font-family: Arial, sans-serif;
        color: white;
        text-shadow: 1px 1px 2px black;
    }

    .video-background {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        z-index: -1;
        background-image: url("video/background.mp4"); /* 背景图像的 URL */
        background-size: cover; /* 背景图像的尺寸 */
        background-position: center; /* 背景图像的位置 */
        background-attachment: fixed; /* 将背景固定到视口 */
    }
    

    #bg-video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .content {
        position: relative;
        z-index: 1;
        padding: 20px;
        text-align: center;
    }

    header {
        margin-bottom: 30px;
    }

    #extra-content {
        position: absolute;
        top: 200px;
        right: 320px;
        width: 300px;
    }

    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr; /* 2x2 的網格 */
        grid-template-rows: 1fr 1fr;
        gap: 20px;
    }

    .grid-item1 {
        background: rgba(255, 255, 255, 0.8); /* 白色半透明背景 */
        border-radius: 15px;
        padding: 10px;
        color: black; /* 文字顏色設置為黑色 */
        text-shadow: none; /* 移除文字陰影 */
        transform: skew(-20deg); /* 創建平行四邊形 */
        width: 200px;
        height: 200px;
        font-size: 18px;
        cursor: pointer; /* 加入鼠標變成手指的效果 */
    }

    .grid-item1:hover {
        transform: skew(-20deg) scale(1.1);
    }

    .grid-item2 {
        background: rgba(255, 255, 255, 0.8); /* 白色半透明背景 */
        border-radius: 15px;
        padding: 10px;
        color: black; /* 文字顏色設置為黑色 */
        text-shadow: none; /* 移除文字陰影 */
        transform: skew(-20deg); /* 創建平行四邊形 */
        width: 200px;
        height: 200px;
        font-size: 18px;
        cursor: pointer; /* 加入鼠標變成手指的效果 */
    }
    .grid-item2:hover {
        transform: skew(-20deg) scale(1.1);
    }

    .grid-item3 {
        background: rgba(255, 255, 255, 0.8); /* 白色半透明背景 */
        border-radius: 15px;
        padding: 10px;
        color: black; /* 文字顏色設置為黑色 */
        text-shadow: none; /* 移除文字陰影 */
        transform: skew(-20deg); /* 創建平行四邊形 */
        width: 200px;
        height: 200px;
        font-size: 18px;
        cursor: pointer; /* 加入鼠標變成手指的效果 */
    }

    .grid-item3:hover {
        transform: skew(-20deg) scale(1.1);
    }

    .grid-item4 {
        background: rgba(255, 255, 255, 0.8); /* 白色半透明背景 */
        border-radius: 15px;
        padding: 10px;
        color: black; /* 文字顏色設置為黑色 */
        text-shadow: none; /* 移除文字陰影 */
        transform: skew(-20deg); /* 創建平行四邊形 */
        width: 200px;
        height: 200px;
        font-size: 18px;
        cursor: pointer; /* 加入鼠標變成手指的效果 */
    }

    .grid-item4:hover {
        transform: skew(-20deg) scale(1.1);
    }

    .grid-item1 img {
        display: block;
        margin: 20px; /* 讓圖片水平居中 */
        margin-top: 20px; /* 調整圖片與文字的間距 */ 
        width: 150px;
        height: 90px;
    }

    .grid-item3 img {
        display: block;
        margin: 40px; /* 讓圖片水平居中 */
        margin-top: 10px; /* 調整圖片與文字的間距 */ 
        width: 100px;
        height: 80px;
    }

    .grid-item h2 {
        color: #000000; /* 標題顏色 */
        margin-bottom: 5px;
        transform: skew(20deg); /* 恢復標題的角度 */
    }

    .grid-item p {
        transform: skew(20deg); /* 恢復段落文字的角度 */
    }

    #sound-toggle {
        position: fixed;
        top: 20px;
        right: 20px;
        padding: 10px 20px;
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        display: block;
        z-index: 2; /* 確保按鈕在網格上層 */
    }

    #sound-toggle:hover {
        background-color: rgba(0, 0, 0, 0.8);
    }
    
    .clock {
        transform: skew(10deg);
        text-shadow: none;
        position: fixed;
        top: 80px;
        left: 20px;
        /* 調整文字大小和顏色 */
        font-size: 24px;
        color: rgb(159, 152, 152);
        /* 避免文字被背景覆蓋 */
        border-radius: 5px;
        /* 文字和元素之間的填充 */
        padding: 5px 30px;
        position: fixed;
    }
    body {
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
        overflow: hidden;
    }
    
    #click-effect-container {
        position: absolute;
        width: 100%;
        height: 100%;
        pointer-events: auto;
    }
    
    .click-effect {
        position: absolute;
        width: 20px;
        height: 20px;
        background-color: rgba(0, 122, 255, 0.7);
        border-radius: 50%;
        animation: clickEffectAnim 1s ease-out forwards;
    }
    
    @keyframes clickEffectAnim {
        0% {
            transform: scale(1);
            opacity: 0.7;
        }
        100% {
            transform: scale(5);
            opacity: 0;
        }
    }
    .mouse-trail {
        width: 2px;
        height: 2px;
        border-radius: 50%;
        background-color: rgb(125, 201, 225);
        position: absolute;
    }
    
    /* 隱藏滑鼠軌跡 */
    .mouse-trail.hidden {
        display: none;
    }
    .about-me-wrapper {
        display: flex;
        align-items: flex-start; /* 垂直对齐到顶部 */
        margin-top: 600px; /* 根据需要调整位置 */
        margin-left: 700px;
    }
    .about-me-avatar {
        width: 300px;
        height: 300px;
        border-radius: 50%;
        margin-right: 1000px;
        margin-top: 50px;
        cursor: pointer; /* 加入鼠標變成手指的效果 */
    }
    .about-me-avatar:hover{
        transform: scale(1.05);
    }

    .about-me-section {
        padding: 20px;
        background-color: rgba(245, 245, 245, 0.8); /* 半透明效果 */
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        height: 300px;
        width: 600px;
    }
    
    .about-me-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    
    .about-me-content h2 {
        font-size: 30px;
        margin-bottom: 10px;
    }
    .about-me-content p {
        font-size: 24px;
        margin-bottom: 10px;
    }
    .like{
        padding: 20px;
        background-color: rgba(245, 245, 245, 0.8); /* 半透明效果 */
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        height: 700px;
        width: 600px;
        margin-top: 500px;
        margin-left: 100px;
    }
    .like h1{
        font-size: 30px;
    }
    .like p{
        font-size: 20px;
    }
    .like p2{
        font-size: 40px;
        color:aqua;
    }

    .hover-text {
        display: inline-block;
        position: relative;
        cursor: pointer;
    }

    .tooltip {
        display: none; /* 初始狀態隱藏 */
        position: absolute;
        color: #0c5cdd;
        padding: 5px;
        border-radius: 3px;
        font-size: 20px;
        z-index: 1000;
        text-shadow: none;
    }
    .like p3{
        font-size: 40px;
        color: rgb(0, 0, 0);
    }
    .like del{
        font-size: 16px;
    } 
    .jail{
        width: 30px;
        height: 30px;
    }
    .seia{
        width: 120px;
        height: 120px;
    }
    #scroll-to-top {
        position: fixed;
        bottom: 20px;
        right: 20px;
        width: 40px;
        height: 40px;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        z-index: 9999; /* 確保在最上層 */
    }
    
    #scroll-to-top svg {
        width: 24px;
        height: 24px;
    }
    .no{
        padding: 20px;
        background-color: rgba(245, 245, 245, 0.8); /* 半透明效果 */
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        height: 300px;
        width: 600px;
        margin-top: 500px;
        margin-left: 700px;
    }
    .ok{
        padding: 20px;
        background-color: rgba(245, 245, 245, 0.8); /* 半透明效果 */
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        height: 450px;
        width: 600px;
        margin-top: 500px;
        margin-left: 100px;
    }
    .no h1{
        font-size: 30px;
    }
    .ok h1{
        font-size: 30px;
    }
    .no p {
        font-size: 20px;
    }
    .no del{
        font-size: 20px;
        color: #000000;
    }
    .no img{
        width: 70px;
        height:70px;
    }
    .ok p{
        font-size: 20px;
    }
    .ok p2{
        font-size: 32px;
        color: blue;
        text-shadow: none;
    }
    .ok img{
        width: 60px;
        height: 60px;
    }
    .ok del{
        font-size: 20px;
        color: #000000;
    }
    .dialog-box {
        position: absolute;
        margin-top: -15%;
        left: 30%;
        background-color: rgba(245, 245, 245, 0.8); /* 半透明效果 */
        padding: 20px;
        border: 2px solid black;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        z-index: 9999;
        width: 100px;
        height: 100px;
    }
    
    .hidden {
        display: none;
    }
    

    #loading-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 1000;
        text-align: center;
      }
      

      
      #click-to-start {
        margin-top: 20px;
        padding: 10px 20px;
        font-size: 16px;
        border: 2px solid white;
        border-radius: 5px;
        background-color: rgba(255, 255, 255, 0.1);
        filter: blur(2px);
        transition: filter 0.3s ease;
      }
      
      #click-to-start:hover {
        filter: blur(0);
      }
      
      @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
      }
      
      #content {
        display: none;
        filter: blur(8px);
        transition: filter 0.5s ease;
      }
      
      #content.show {
        filter: blur(0);
      }